$blue: rgb(66, 197, 197);
$bg: rgb(16, 16, 16);
$secbg: rgb(36, 36, 36);
$yellow: rgb(227, 227, 61);
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

html{
  scroll-behavior: auto;
}
// start style

body{
    background-color: $bg;
    width: auto;

}

/* navbar normal style */
.navbar {
    display: flex;
    align-items: center;
    padding: 0px 2%;  
    justify-content: flex-end;
}


.navbar .navlink {
    list-style: none;

}

.navbar .navlink li{
    display: inline-block;
    padding: 0 15px;
    margin-left: auto;
    margin-top: 2%;
    text-align: center;
}

.navbar .navlink a {
    color:  rgb(50, 150, 150);
    text-decoration: none;
    font-weight: 900;
    position: relative;
    font-size: 18px;
    transition: 0.3s;
    font-family: 'Comfortaa', cursive;
}

a::after{
  content: "";
  position: absolute;
  background-color: $blue;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.navbar .navlink a:hover,.navbar .navlink a.active{
  color: $yellow;
  font-size: 22px;
  transition: 0.5s;
}

a:hover:after{
  width: 100%;
}

button{
  margin-left: 360px;
}


/* home */
.bgflex {
  display: flex;
  margin-top: 5%;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
    
}

h1 {
    font-size: 140px;
    font-family: 'Comfortaa', cursive;
    background: -webkit-linear-gradient(66deg, $yellow 0%, $blue 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -200px;
}

.Home {
  display:flex;
  white-space: nowrap;
}

.first{
  animation: showup 7s forwards;
}

.slide{
  width: 0%;
  animation: reveal 7s forwards;
}

.slide .span{
  margin-left: -355px;
  animation: slidein 7s forwards;
}

// About me 

#aboutanime{
  width: 100%;
  height: 100vh;
  background: $bg;

}

.bgimg{
  width: 70%;
  height: 85%;
  margin: auto;
  background-color: $secbg;
  border-radius: 3%;
  padding: 0;
  animation: fadein 2s forwards;
}

h2{
  color: $yellow;
  text-align: center;
  padding: 5rem;
  font-size: 70px;
  animation: fadein 2s forwards;
}

p{
  text-align: center;
  color: white;
  padding: 0 10%;
  font-size: 24px;
  animation: fadein 2s forwards;
}
// work style

.work{
  width: 100%;
  height: 100vh;
  color: $bg;
}

// keyframes
@keyframes showup {
  0% {opacity:0;}
  20% {opacity: 1;}
  100% {opacity:1;}
}

@keyframes slidein {
  0% { margin-left:-800px; }
  20% { margin-left:-800px; }
  35% { margin-left:0px; }
  100% { margin-left:0px; }
}

@keyframes reveal {
  0% {opacity:0;width:0px;}
  20% {opacity:1;width:0px;}
  30% {width:600px;}
  80% {opacity:1;}
  100% {opacity:1;width:600px;}
}

@keyframes fadein{
  0%{opacity: 0;transform: translateY(300px);}
  100%{opacity: 1;transform:translateY(0px) ;}
}



// media style

@media (max-width: 570px) {
  #spacecontrol{
    display: none;
  }
  ul{
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgb(16, 16, 16);
    top: 80px;
    align-items: initial;
  }
  .navbar .navlink li{
    display: block;
  }
  .navbar {
    justify-content: center;
    padding: 10px 2%;
}
.navbar .navlink li{
  padding: 40px 10px;
}
}
@media (max-width: 795px){
  h1{
    font-size: 100px;
    margin-top: -150px;
  }
  @keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:390px;}
    80% {opacity:1;}
    100% {opacity:1;width:390px;}
  }
}
@media (max-width: 567px) {
  h1{
    font-size: 60px;
    margin-top: -150px;
  }
  @keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:250px;}
    80% {opacity:1;}
    100% {opacity:1;width:250px;}
  }
}
@media (max-width: 332px) {
  h1{
    font-size: 45px;
    margin-top: -150px;
  }
  @keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:170px;}
    80% {opacity:1;}
    100% {opacity:1;width:170px;}
  }
}